/* Dark Mode */
.Home {
    background-color: #f5c126; /* #111 #f5c126 */
    height: 100vh; /*100rem*/
}

.hero_header-font {
  font-family: "Comfortaa";
}

.text_mobile   h1,
.title.skills  h1,
.title.summary h1 {
    font-family: "Dancing Script";
}

.hero_header h1 {
  margin: 0;
  font-size: 80px;
  text-align: center;
}


.hero_header h1 {
  position: relative;
  top: 10rem;
  left: 3rem;
  width: 90%;
  margin: 0 auto;
}

/***************************************
  Adjusts the css based on the viewport
***************************************/
.text_desktop {
  margin: 0;
  font-size: 15px;
  text-align: center;
}


.text_desktop {
  position: relative;
  top: 10rem;
  left: 5rem;
}

.text_mobile {
  width: 90%;/**/
  position: relative;
  top: 10rem;
  left: 3rem !important;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
}
/***************************************
  Adjusts the css based on the viewport
***************************************/

.content {
  position: relative;
  left: -20px;
}

/* Dark Mode */
.font_style * {
  color: #111; /* #111 #f5c126 */
  
}