/* Dark Mode */
.About {
  background-color: #f5c126; /* #111 #f5c126 */
  height: 100vh; /*100rem*/
}

.row {
  display: flex;
}

.summary_desktop {
  position: relative;
  left: 10rem;
  width: 40rem;
  top: 5rem;
  margin: 3%;
}

.summary_mobile {
  position: relative;
  left: 4rem;
  width: 20rem; /*27rem*/
  top: 1rem;
  margin: 3%;
  padding: 2%;
  font-size: 14px;
}

.column {
  flex-grow: 1;
  height: 100vh;
}

.item2 img {
  height: inherit;
  opacity: 0.8;
  filter: brightness(50%);
}

.item1 {
  flex-grow: 1;
  width: 100rem;
}

.item2 {
  flex-grow: 2;
}

div#curve1 svg {
  transform: rotate(270deg);
  position: relative;
  top: 14rem;
  height: 10vh;
}

.wrapper_desktop {
  position: relative;
  top: 0;
  left: 0;
}

.wrapper_mobile {
  display: none;
}

#curve1 img.wave_desktop {
  position: absolute;
  left: 46rem; /* 74rem  46rem*/
  height: 100vh;
  z-index: 1;
  /*border: 1px solid gray;   51.8rem */
}

#curve1 img.wave_mobile {
  display: none;
}

#me {
  position: relative;
  top: 0;
  left: 0;
}

.description {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2px;
}

img.tech {
  width: 4rem;
  padding: 1.5%;
}

@media screen and (min-width: 1025px) {
  .title {
    width: 29rem !important;
  }
}


/*IPhone X*/
@media screen and (min-width: 375px) {
  .skills { width: 17rem; }

  .summary,
  .description.text-content {
    width: 17rem;
    letter-spacing: inherit;
  }
}
