/* Dark Mode */
.Contact {
  background-color: #f5c126; /* #111 #f5c126 */
  height: 100vh; /*100rem*/
  gap: 50px;
}

#col-form {
    background-color: inherit;
    height: 100vh;
}

#col-div {
    background-color: black;
    height: 100vh;
}

#mobile_col-div {
  display: none;
}

.desktop_field {
  width: 25vw;
  margin-top: 5% !important;
  margin-left: 6% !important;
}

.mobile_field {
  width: 65vw ;
  margin-top: 1rem !important;
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%; /**/
    gap: 0;
    padding: 0;
  }

  .desktop_contact_btn {
    color: black !important;
    border-color: black !important;
    margin: 5% 6% !important;
    height: 7vh !important;
    width: 10vw !important;
    
  }

  .mobile_contact_btn {
    color: black !important;
    border-color: black !important;
    margin: 5% 7% !important;
    height: 7vh !important;
    width: 65vw !important;
  }